/* EZT EDITELJED PARASZT */
.navbar-brand { 
    /* Emiatt lesz Miklós a felső kis cím jó oldalán */
    float:right !important;
    padding-right:30px !important;
}

.mapspace{
    width: 75%;
    height: 50%;
    padding-left:10px;
}

#flex-wrapper{
    display: flex;
    flex-direction: row;
}

@media (min-width:300px) and (max-width:768px){
    .mapspace{
        width: 100%;
        height: 100%;
        padding-left:10px;
    }

    #flex-wrapper{
        display: flex;
        flex-direction: column;
    }
}

.img-container {
    overflow: hidden;
    height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fh5co-person figure img {
    height: 120px;
    object-fit: cover;
    background-color: #fff;
}

.mapdiv iframe {
    width: 100%;
    height: 100%;
}

.mapdiv {
    height: 536.4px;
}

#fh5co-services {
    padding-bottom: 14em !important;
}

#fh5co-intro {
    margin-bottom: 4em !important;
}

#fh5co-home {
    background-position: center !important;
}

.intro-cards {
    display: flex;
    flex-wrap: wrap;
}

.work-cards img {
    object-fit: cover;
    aspect-ratio: 16/9;
}

