.main-responsive {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 13px;
    padding: 0px 0px 10px;
    position: relative;
    background-color: #ffffff;
  }
  
  .main-responsive .header {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 158px;
    background-color: #508fe8;
  }
  
  .main-responsive .text-wrapper {
    position: absolute;
    width: 142px;
    top: 31px;
    left: 153px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #1e1e1e;
    font-size: 14px;
    letter-spacing: -0.25px;
    line-height: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
  
  .main-responsive .miklos {
    position: absolute;
    width: 123px;
    height: 129px;
    top: 29px;
    left: 9px;
    object-fit: cover;
  }
  
  .main-responsive .navbar {
    position: absolute;
    width: 402px;
    height: 19px;
    top: -1px;
    left: -1px;
    background-color: #508fe8;
    overflow: hidden;
    border: 1px solid;
    border-color: #000000;
  }
  
  .main-responsive .div {
    position: absolute;
    top: 5px;
    left: 465px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #1e1e1e;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .main-responsive .text-wrapper-2 {
    position: absolute;
    width: 94px;
    top: 114px;
    left: 153px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #1e1e1e;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .main-responsive .thick-arrow-pointing {
    position: absolute;
    width: 27px;
    height: 36px;
    top: 115px;
    left: 259px;
  }
  
  .main-responsive .elromlott-a-laptopja {
    position: absolute;
    width: 177px;
    top: 52px;
    left: 153px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #1e1e1e;
    font-size: 10px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .main-responsive .halozat {
    position: relative;
    width: 219px;
    height: 117px;
    background-color: #111010;
  }
  
  .main-responsive .overlap-group {
    position: relative;
    height: 117px;
    background-color: #d9d9d9;
  }
  
  .main-responsive .card-title {
    width: 88px;
    top: 22px;
    font-size: 11px;
    position: absolute;
    left: 22px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #111010;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .main-responsive .card-text {
    width: 186px;
    top: 46px;
    font-size: 10px;
    position: absolute;
    left: 22px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #111010;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .main-responsive .wi-fi-connected {
    position: absolute;
    width: 39px;
    height: 33px;
    top: 14px;
    left: 162px;
  }
  
  .main-responsive .overlap-wrapper {
    position: relative;
    width: 219px;
    height: 116px;
    background-color: #111010;
  }
  
  .main-responsive .overlap {
    height: 116px;
    position: relative;
    background-color: #d9d9d9;
  }
  
  .main-responsive .card-title-2 {
    width: 106px;
    top: 21px;
    left: 19px;
    position: absolute;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #111010;
    font-size: 11px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .main-responsive .p {
    width: 175px;
    top: 47px;
    left: 19px;
    position: absolute;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #111010;
    font-size: 10px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .main-responsive .HDD {
    position: absolute;
    width: 39px;
    height: 33px;
    top: 13px;
    left: 162px;
  }
  
  .main-responsive .j-rendszert-telep-t {
    position: absolute;
    width: 171px;
    top: 46px;
    left: 19px;
    -webkit-text-stroke: 1px #111010;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #111010;
    font-size: 10px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .main-responsive .text-wrapper-3 {
    position: absolute;
    width: 153px;
    top: 19px;
    left: 19px;
    -webkit-text-stroke: 1px #111010;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #111010;
    font-size: 11px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .main-responsive .windows {
    position: absolute;
    width: 39px;
    height: 33px;
    top: 14px;
    left: 171px;
  }
  
  .main-responsive .weboldal {
    position: relative;
    width: 220px;
    height: 116px;
    background-color: #111010;
  }
  
  .main-responsive .card-title-3 {
    width: 88px;
    top: 18px;
    left: 22px;
    position: absolute;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #111010;
    font-size: 11px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .main-responsive .overlap-group-2 {
    position: absolute;
    width: 200px;
    height: 80px;
    top: 9px;
    left: 20px;
  }
  
  .main-responsive .card-text-2 {
    width: 158px;
    top: 33px;
    left: 0;
    position: absolute;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #111010;
    font-size: 10px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .main-responsive .internet {
    position: absolute;
    width: 67px;
    height: 36px;
    top: 0;
    left: 133px;
  }
  
  .main-responsive .text-wrapper-4 {
    position: absolute;
    width: 93px;
    top: 19px;
    left: 25px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #111010;
    font-size: 11px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .main-responsive .overlap-group-3 {
    position: absolute;
    width: 173px;
    height: 75px;
    top: 14px;
    left: 24px;
  }
  
  .main-responsive .sz-m-t-g-p-s-laptop {
    position: absolute;
    width: 173px;
    top: 28px;
    left: 0;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #111010;
    font-size: 10px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .main-responsive .computer-support {
    position: absolute;
    width: 39px;
    height: 33px;
    top: 0;
    left: 133px;
  }
  
  .main-responsive .epites {
    position: relative;
    width: 219px;
    height: 112px;
    background-color: #111010;
  }
  
  .main-responsive .overlap-2 {
    height: 112px;
    position: relative;
    background-color: #d9d9d9;
  }
  
  .main-responsive .sz-m-t-g-p-ig-nyekre {
    position: absolute;
    width: 157px;
    top: 44px;
    left: 27px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #111010;
    font-size: 10px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .main-responsive .text-wrapper-5 {
    position: absolute;
    width: 81px;
    top: 19px;
    left: 27px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #111010;
    font-size: 11px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .main-responsive .wrench {
    position: absolute;
    width: 39px;
    height: 32px;
    top: 10px;
    left: 165px;
  }